SUPABASE_URL=https://iznonbzmlwvuxuyhclwk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml6bm9uYnptbHd2dXh1eWhjbHdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5OTM2NTMsImV4cCI6MjA3NDU2OTY1M30.iSoRLwyVva36UmE2knVfgxfhZNeTAivzRH34d_C_lig

